name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      COVERAGE_SINGLE: 60
      COVERAGE_TOTAL: 60

    steps:
      - name: Check out repo code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Run tests
        run: |
          python -m pip install --upgrade pip
          python -m pytest -v tests --cov . --cov-report xml

      - name: Comment on coverage report
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.workflow-creashcourse }}
          script: |
            const fs = require('fs');
            const coverageReport = fs.readFileSync('coverage.xml', 'utf8');
            const commentBody = `Coverage Report\n\n${coverageReport}`;
            github.pulls.createReview({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              body: commentBody,
              event: 'COMMENT'
            });