name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      COVERAGE_SINGLE: 60
      COVERAGE_TOTAL: 60

    steps:
      - name: Check out repo code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Run tests
        run: |
          python -m pip install --upgrade pip
          python -m pytest -v tests --cov . --cov-report xml

      - name: Comment coverage report on pull request
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          flags: unittests
          fail_ci_if_error: true